In [1]:
print("anand")

anand

hello- for this change code to markdown
# 1-hash
## 2 hash
### 3hash

# day-1

intigers-whole number(1 2 3..)                             

float- decimal numbers

string- sequence of unicode charecter, alphabet and alphanumeric

boolian-true false

list- orderd mutable

tuple- orderd unmutable

dictionary-key and value

set- unique item, un orderd

complex- magnitude and direction(vector-3+7i)

In [2]:
x=5 ##assigning  5 intiger value to x

In [3]:
x

5

In [4]:
y="hello" ##aasingning hello string to y

In [5]:
y=4  ## chaiging value assined to y

In [6]:
y

4

In [7]:
type(x) ##data type

int

In [8]:
type(y)

int

In [9]:
m=x+y
print(m)

9

In [10]:
subtraction= x-y
print(subtraction)

1

In [11]:
z= 3+4j

In [12]:
type(z)

complex

In [13]:
multiplication= x*y
print(multiplication)

20

In [14]:
divistion=x/y
print(divistion)

1.25

In [15]:
floor_devistion=x//y
print(floor_devistion) ##heae 1 is with out decimal value

1

In [16]:
modular_devition=x%y
print(modular_devition) ##hear 1 represent the reminder

1

In [17]:
v=x**y
print(v) ##x to the power y

625

In [18]:
pow(x,y) ##x to the power y

625

In [19]:
##String concardination
q='4'
e='4'
print(q+e)

44

In [20]:
c=int(q)
a=int(e)
print(c+a)

8

In [21]:
x='35'
m=float(x)
print(m) ##string into  float

35.0

In [22]:
type(m)

float

In [23]:
x=35.67
y=int(x)
print(y)

35

In [ ]:
##ask the user to user input and sum the value
x1= int(input("enter the number="))
y1=int(input("enter the number="))
sum =x1+y1
print(sum)

In [ ]:
x1= int(input("enter the number="))
y1=int(input("enter the number="))
sub =x1-y1
print(sub)

In [ ]:
x1= int(input("enter the number="))
y1=int(input("enter the number="))
mul =x1*y1
print(mul)

In [ ]:
x1= float(input("enter the number="))
y1=float(input("enter the number="))
div =x1/y1
print(div)

In [ ]:
x1= int(input("enter the number="))
y1=int(input("enter the number="))
power =x1**y1
print(power)

In [ ]:
#float
x1= float(input("enter the number="))
y1=float(input("enter the number="))
sum =x1+y1
print(sum)

## day2
## string

In [ ]:
a= "how are you"
print(a)

In [ ]:
a.upper()

In [ ]:
a.lower()

In [ ]:
#length
len(a)

In [ ]:
#to make title
a.capitalize()

In [ ]:
#index
a[0]

In [ ]:
a[1:10]

In [ ]:
a[:]

In [ ]:
a[:5]

In [ ]:
a[4:]

In [ ]:
a[::2]

In [ ]:
a[::3]

In [ ]:
a[:-1]

In [ ]:
a[-1]

In [ ]:
a[-2:]

In [ ]:
a[-2:-1]

In [ ]:
a[::-1]

### congardination

In [ ]:
a="world"
b="hello"

In [ ]:
a+b

In [ ]:
a+" "+b

In [ ]:
#find
a.find("hello")

In [ ]:
a.find("world")

In [ ]:
#replace
a.replace("world","hello how are you")#shift+tab-will find

In [ ]:
#split
c="hello how are you"
c.split()

In [ ]:
name="anand krishnan"

In [ ]:
name.split(",")#remove  the coma put it as single element in list

In [ ]:
#strip
city="banglore hebbal  "

In [ ]:
city.strip()# it will only remove exes space

In [ ]:
city

In [ ]:
#mutiple line
mul_line="""The observation, identification, description, experimental investigation, and theoretical explanation of phenomena.
new advances in science and technology.''
"Such activities restricted to a class of natural phenomena.
the science of astronomy."
A systematic method or body of knowledge in a given area.
the science of marketing."""
print(mul_line)

In [ ]:
mul_line.replace('experimental investigation'," ")

## list

list is a build in data type

mutale

hetrogenios

orderd

In [ ]:
list=[]

In [ ]:
type(list)

In [ ]:
list=[1,"s",1.6,1+3j]

In [ ]:
print(list)

In [ ]:
len(list)

In [ ]:
# acces the item of list
list[0]

In [ ]:
list[3]

In [ ]:
list[0:3]

In [ ]:
list[0:4]#while slising give one upper value

In [ ]:
#print in the reverse
list[::-1]

In [ ]:
#acces item in actual direction and skip 1 item in between
list[::2]

In [ ]:
list[::3]

In [ ]:
#checking the items
list=[1,"s",1.6,1+3j]
1 in list

In [ ]:
list=[1,"s",1.6,1+3j]
"s" in list

## insert , append and extend

In [ ]:
#append operation in list
a= 23

In [ ]:
list.append(a)

In [ ]:
list

In [ ]:
list1= [2,3,4]

In [ ]:
list.append(list1)

In [ ]:
list

In [ ]:
list[-1]

In [ ]:
list[-1][1]

In [ ]:
list[-1][1]="hello"

In [ ]:
list

In [ ]:
#add list extend
list.extend(list1)

In [ ]:
list

In [ ]:
#add item between using insert
l=23
list.insert(1,l)

In [ ]:
list

In [ ]:
#remove an item  using item name
list.remove(1)

In [ ]:
list

In [ ]:
list.remove([2, 'hello', 4])

In [ ]:
list

In [ ]:
#it remove using index
list.pop(0)

In [ ]:
list

In [ ]:
list.pop(1)

In [ ]:
list

In [ ]:
#del-delete list

In [ ]:
del list1

In [ ]:
#concardination adding of two list
list2=["hi","hello","how"]

list3 = list + list2

In [ ]:
list3

In [ ]:
#min max sum
l=[1,2,3,4,5]
min(l)

In [ ]:
max(l)

In [ ]:
sum(l)

In [ ]:
l.count(1) #cound the repetation

In [ ]:
l.sort() #arrige the data
l

In [ ]:
l[::-1]

In [ ]:
li=l+list2 #concardination

In [ ]:
li

In [ ]:
l.sort(reverse=True) #desending order

In [ ]:
l

In [ ]:
#write python code to find  the area of  circle and return the list with area
pie=3.14
r= float(input("enter the radius="))
area=pie*(r**2)
lista=[]
lista.append(area)
print(lista)

In [ ]:
#Create a list called numbers that contains the following integers:
numbers=[10,20,30,40,50]

In [ ]:
numbers

In [ ]:
numbers.append(60)
numbers.append(70)

In [ ]:
numbers

In [ ]:
numbers.remove(30)

In [ ]:
numbers

In [ ]:
numbers.sort(reverse=True)

In [ ]:
numbers

In [ ]:
max(numbers)

In [ ]:
min(numbers)

In [ ]:
numbers.count(20)

In [ ]:
sum(numbers)

In [ ]:
vec=["TrafFic","Web","IP","GRC" ]

In [ ]:
numbers=numbers+vec

In [ ]:
numbers

In [ ]:
numbers[::-1]

In [ ]:
#write a python code to convert temperature to celcious to farenheat
celcious= float(input("enter the celcious="))
farenheat= (celcious*(9/5))+32
print(farenheat)

## tuple

orderd immutable

buildin data type

In [ ]:
a=1,2,3,4

In [ ]:
a

In [ ]:
b=(1,2,3,4,5,6)

In [ ]:
b

In [ ]:
c=[1,2,3,4]

In [ ]:
c

In [ ]:
d=tuple(c)

In [ ]:
d

In [ ]:
e=list(d)#covert to list

In [ ]:
e

In [ ]:
f=(1,2,3,"a",3+4j)

In [ ]:
f[4]

In [ ]:
f[1::3]

In [ ]:
f[::-1]

In [ ]:
f[-3::-1]

In [ ]:
len(f)

In [ ]:
sum(a)

In [ ]:
max(a)

In [ ]:
min(a)

In [ ]:
a*2

In [ ]:
a*3

In [ ]:
e*2

In [ ]:
f=a+f

In [ ]:
f

In [ ]:
sorted(a)

In [ ]:
del a

In [ ]:
f=list(f)#converting the value of tuple using list
f[1]=34
f=tuple(f)
f

In [ ]:
f=list(f)
f[-1]=200
f=tuple(f)
f

# day 4

## set and dictionary

### set

set store unique value

unorderd collection

mathematical concept

operation-

In [ ]:
a={}

In [ ]:
type(a)

In [ ]:
a=set({})

In [ ]:
type(a)

In [ ]:
set_1 = {1,2,1,2,1,2,43,45,34,65,9,"hello",8+2j}

In [ ]:
set_1

In [ ]:
#length
len(set_1)

In [ ]:
a=545
set_1.add(a)
set_1

In [ ]:
set2={"pyth","besenth",89,90}

In [ ]:
set2

In [ ]:
set_1.update(set2) #if two or more value you canot use "add" and you need to use "update"
set_1

In [ ]:
#list remove duplicate from list
li=[4,4,5,5,7,7,7,78,8,8,56,56,"heb","heb"]

In [ ]:
li=set(li)
li=list(li)
li

In [ ]:
li

In [ ]:
li

In [ ]:
set_1.pop()

In [ ]:
set_1.pop()

In [ ]:
#remove
li.remove(78)# remove only one element each operation

In [ ]:
li

In [ ]:
set_1

In [ ]:
set_1.remove(43)

In [ ]:
#discard
set_1.discard(set2)#one same element fill remove each time

In [ ]:
set_1

In [ ]:
set_1.discard(set2)

In [ ]:
set_1

In [ ]:
# differnce_update
set3={45,545,65}
set_1.difference_update(set3)# common element will be removed

In [ ]:
set_1

In [ ]:
#difine new set of intiger-sum
s={1,2,3,4,5,6,7,8,9}
sum(s)

In [ ]:
#union
s1={1,4,7,9,76,87,9,7,6,5,4,3,2}
s2={"gh","uy","io","ui"}

In [ ]:
s1.update(s2)

In [ ]:
s1

In [ ]:
s1|s2#unnion

In [ ]:
s1|s2|set_1|set2|set3 #it can add mulyiple set at a time

In [ ]:
#intersection
s1

In [ ]:
s2

In [ ]:
s1 & s2 #intersection

In [ ]:
s3={"gh"}

In [ ]:
s1 & s2 & s3

In [ ]:
# difference
s1-s2

In [ ]:
s2-s1

In [ ]:
#l1 l2 two list find out the elemt -element of l2 not in l1
l1=[1,4,6,87,98,9,]
l2=[1,2,3,4,5,6,78]
l1=set(l1)
l2=set(l2)
l2=l2-l1
l2=list(l2)
l2

# day5

In [ ]:
#symmetric difference
seta={1,2,3,4,5,6}
setb={4,5,6,7,8.9}
s1=seta-setb
s2=setb-seta

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1^s2#intersection

In [ ]:
seta^setb

## dictionary

inbuild datatype

key value pairs

In [ ]:
dict={}

In [ ]:
type(dict)

In [ ]:

dict1={"name":"anand","age":23,"city":"calicut","profile":"dev"}

In [ ]:
dict1

In [ ]:
dict1["name"]

In [ ]:
dict1.keys()

In [ ]:
dict1.items()

In [ ]:
dict1["name"]="nandhu"#chainge value using key

In [ ]:
dict1

In [ ]:
dict1["company"]="apple"# add new key and value to dictionary

In [ ]:
dict1

In [ ]:
dict1.pop("profile")#remove item

In [ ]:
dict1

In [ ]:
dict1["fruits"]=["pappaya","banana","apple"]#add list of item

In [ ]:
dict1

In [ ]:
dict={1:"name",2:"hello"}

In [ ]:
dict

In [ ]:
dict1.update(dict)#adding to dictionary

In [ ]:
dict1

# control flow in python

In [ ]:
a=5
b=7
if b>a:
    print("b is greter than a")
else:
    pass

In [ ]:
a=int(input("enter value of a="))
b=int(input("enter value of b="))
if b>a:
    print("b is greter than a")
else:
    print("b is lessthan than a")

In [ ]:
a=5
b=3
if b>a:
    print("b is greter than a")
print("b is lesstha63n a")

In [ ]:
a=5
b=3
if b<a:
    print("b is greter than a")
print("b is lesstha63n a")

In [ ]:
a=5
b=3
if b<a:
    print("b is greter than a")
else:
    print("b is lesstha63n a")

In [ ]:
a=5
b=3
if b>a:
    print("b is greter than a")
else:
    print("b is lesstha63n a")

In [ ]:
a=int(input("enter value of a="))
b=int(input("enter value of b="))
c=[]
d=[]
if b>a:
    c.append(b)
    print("b is greter than a")
    print(c)
else:
    d.append(b)
    print(d)
    print("b is lessthan than a")

In [ ]:
c

In [ ]:
d

In [ ]:
import random
random.randint(1,100)#system generated number

In [ ]:

a=random.randint(1,100)
b=random.randint(1,100)
if b>a:
    print("b is greter than a")
else:
    print("b is lessthan than a")
print(a)
print(b)

In [ ]:
a=int(input("enter value of a="))
b=random.randint(1,100)
if b>a:
    print("b is greter than a")
else:
    print("b is lessthan than a")

print(b)

In [ ]:
#user input identyfy even or odd
a=int(input("enter the number ="))
if a%2== 0:
    print(f"{a} the number is even")
else:
    print(f"{a}the number is odd")

In [ ]:
#create program -user inputer
#i want py completion certificate
#yes-assignemnet-cousere-class
a=input("enter your name= ")
a=a.lower()
if a== "anand" :
    print(f"hi {a} welcome")
    b=input("have you completed python couse yes or no")
    b=b.lower()
    if b == "yes":
        c=input("have you completed the classes of python yes or no")
        c=c.lower()
        if  c=="yes":
                d=input("if you complete assigment yes or no")
                d=d.lower()
                if d=="yes":
                    print("you are elegible for the certification")
                else:
                    print("complete the assigment")
        else:
            print("complete the class")
    else:
        print("complete the course")
            
else:
    print(f"hi {a} user doesnot exist")

In [ ]:
#python code for atm operation
#book a flight ticket
#book a movie ticket

In [1]:
a=input("plese  enter the atm card=")
a=a.lower()
d=1000000
if a=="yes":
    print("plese don't remove the card")
    b=int(input("please enter your 4 digit pin="))
    if b==1234:
        print("welcome please choose \n1:cash vidrawwell\n2:check balance \n3 pin chinge\n account details:")
        c=int(input("enter 1-4="))
        if c==1:
            e=int(input("enter the amount you want to  widraw"))
            f=d-e
            print(f"your balance is{f}")
        if c==2:
            print("your balance is 2234")
        if c==3:
            b=int(input("enter the new pin"))
        if c==4:
            print("Anand ,37464,836355")
        else:
            print("Thank You")
else:
    ("plase insert the card again")

plese  enter the atm card=yes
plese don't remove the card
please enter your 4 digit pin=1234
welcome please choose
1:cash vidrawwell
2:check balance
3 pin chinge
 account details:
enter 1-4=1
enter the amount you want to  widraw45000
your balance is955000
Thank You

In [ ]:
#write a code for find is divisible by 3 and 5

In [6]:
a=int(input("enter the number="))
if a%3==0:
    print ("divisible by 3")
if a%5==0:
    print ("divisible by 5")
if a%5==0 and a%5==0 :
    print (f"{a} divisible by 3 & 5")  
else:
    print(f"{a} not divisible by 3 and 5")

enter the number=25
divisible by 5
25 divisible by 3 & 5

In [8]:
a=int(input("enter the number="))
if a%5==0 and a%5==0 :
    print (f"{a} divisible by 3 & 5")  
elif a%3==0 and a%5!=0:
    print("divisible by 3 not 5")
elif a%5==0 and a%3!=0 :
    print("divisible by 5 not 3")
else:
    print(f"{a} not divisible by 3 and 5")

enter the number=9
divisible by 3 not 5

In [10]:
a=int(input("enter the number=")) #above and this gave gave same result due to above include unnasasary pary !=
if a%5==0 and a%5==0 :
    print (f"{a} divisible by 3 & 5")  
elif a%3==0 :
    print("divisible by 3 not 5")
elif a%5==0 :
    print("divisible by 5 not 3")
else:
    print(f"{a} not divisible by 3 and 5")

enter the number=67
67 not divisible by 3 and 5

#write a code for grading system

score>=85 grade="A+"

score>=75 grade="A"

score>=60 grade="B"

score>=50 grade="C"

score<50 grade="D"

In [3]:
score =float(input("enter the mark of student="))
if score>=85:
    print(f"{score} grade=A+")
elif score>=75:
    print(f"{score} grade=A")
elif score>=60:
    print(f"{score} grade= B")
elif score>=50:
    print(f"{score} grade=C")
else:
    print(f"{score} grade=D")
if score >= 50:
    print("pass")
else:
    print("fail")

enter the mark of student=49
49.0 grade=D
fail

In [2]:
#write a code to find year is leap year or not
year=int(input("enter the year"))
if (year%4==0 and year%100!=0) or year%400==0:
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

enter the year2022
2022 is not a leap year

In [20]:
#check enter word starting with  viowel or not
word=input("enter the word")
list=[]
list=word.split()
#if (list[0]="a" or list[0]="e" or list[0]="i" or list[0]="o" or list[0]="u"):
if list[0]="a,e,i,o,u":
    print(f"{list[0] }is a vovel")

SyntaxError: invalid syntax (3289168009.py, line 6)

In [5]:
a=input("enter the word=")
a=a.lower
voiwel='aeiou'
if a[0] in voiwel:
    print(f"is a vovel")
else:
    print(f"is not a vovel")

enter the word=zpple

TypeError: 'builtin_function_or_method' object is not subscriptable

In [1]:
d1={}
b=input("enter the string=")
c="aeiou"
c=c.lower
count=0
for i  in b:
    if i in c:
        count=count+1
        d[i]=count

enter the string=hello how are

TypeError: argument of type 'builtin_function_or_method' is not iterable

In [1]:
a="hello how are you"
v ="aeiou"
a=a.lower()
count=0

d={}
for i in a:
    if i in v:
        count=count+1
        d[i]=count

In [4]:
a = "hello how are you"
v = "aeiou"

a = a.lower()
count=0
d = {}
for i in a:
    if i in v:
        count += 1
        if i in d:
            d[i] += count
        else:
            d[i] = count

AttributeError: 'dict' object has no attribute 'key'